a { color:#33b9f8; }
a:hover { color:#fd0 } 

body { margin:0; font:12px Tahoma; color:#d8f2ff; background:url(images/background.jpg) 50% 0 #114576 repeat-x; background-attachment: fixed; } 

#wrapper { background:url(images/wrapper.gif) repeat-y; width:1064px;  margin:0px auto; }
#everything { width:1000px; margin:0 32px;  background:url(images/wood-weathered.jpg); background: #222; border:1px solid black; border-width:0px 1px; }

#logo { vertical-align: middle; border: 0; }
#logo img { padding: 0 1em; border: 0; }

#header { height:162px; background:url(images/wotlk_header.jpg) right no-repeat; padding:0 20px; }
#header h1 { position: absolute; top: 115px; margin:0; color:white; font-size: 26px;}
#header h1 a { color: white; text-decoration: none; }

#navigation { clear: both; background:url(images/border.gif) repeat-x; padding: 8px; padding-top: 15px; padding-left: 15px; }
#navigation ul { float: right; margin-right: 15px; }
#navigation li { font-size: 14px; border-right: 2px solid #555; }
#navigation li.last { border:0; }

#middle { clear:both; background:url(images/border.gif) repeat-x; padding:20px 10px; }	

	#left_column { width:195px; float:left; }
	.horizontal #left_column { width:auto; float:none; }
		#more_information { padding-top:15px;}

	#middle_column { float:left; width:50%; margin:0px 20px; background: #333; border: 1px solid #980; padding: 10px; }
	#middle_column.two_column { float:left; width:725px; } 
	#middle_column { color: #DDD; }
	#breadcrumbs { padding-bottom: 7px; }
	.horizontal #middle_column { width:auto; float:none; }
		.title { font-size:19px; margin-bottom:10px; color: #FD0; }
		.node { margin-bottom:35px; line-height:18px; } 
		.node h2 { margin:0; font-size:20px; } 
		.node h2 a { color: #FD0; text-decoration: none; } 
		.nodebody { padding:5px 15px; }

		ul { margin:20px; padding:10px; }
		li { list-style:none; background:url(mages/bullet.gif) 0 5px no-repeat;  padding-left:30px; line-height:25px;  }
		.list_left, .list_right { width:48%; float:left }

	#right_column { width:190px; float:left; }
		.block h2 { color: #FD0; }
		.block div { margin:10px 0 25px 0; padding:10px; }

#footer { clear:both; padding:20px }
	#subnav { margin:10px 0;}	
	#subnav a { color:#188de8; }
	#subnav a:hover { color:#33b9f8 } 
	.copyright { font-size:10px;}

/*
** Tab navigation *originall in system.css needs to be overridden because it's fugly
*/
ul.primary {
  border-collapse: collapse;
  white-space: nowrap;
  list-style: none;
  height: auto;
  line-height: normal;
  border: none;
  padding: 0;
  margin: 0;
}
ul.primary li {
  display: inline;
  padding: 0;
  margin: 0;
}
ul.primary li a {
  background: none;
  border: none;
  height: auto;
  padding: 3px;
  text-decoration: underline;
  color: white;
}
ul.primary li.active a {
  background: none;
  border: none;
  color: white;
}
ul.primary li a:hover {
  background: none;
  border: none;
  color: #33b9f8;
}
ul.secondary {
  border: none;
  padding: 0.5em 1em;
  margin: 5px;
}
ul.secondary li {
  display: inline;
  padding: 0 1em;
  border: none;
}
ul.secondary a {
  padding: 0;
  text-decoration: none;
}
ul.secondary a.active {
  border: none;
}

/* System overrides */

li.expanded {
  list-style-image: url(images/menu-expanded.png);
}
li.collapsed {
  list-style-image: url(images/menu-collapsed.png); /* LTR */
}
li.leaf {
  list-style-image: url(images/menu-leaf.png);
}

.active { color: #FD0; }
li a.active { color: #FD0; }

html.js fieldset.collapsible legend a { background: url(images/menu-expanded.png) 5px 75% no-repeat; }
html.js fieldset.collapsed legend a { background-image: url(images/menu-collapsed.png); }

tr.even, tr.odd { background-color: #333; border-bottom: 1px solid #999; }
td.active { background-color: #444; }

th { border-bottom: 1px solid #ccc; }
thead th { border-bottom: 1px solid #ccc; }

#user-login-form div { padding: 0; margin: 0;}
#user-login-form .form-item { text-align: left; margin-top: 5px; }
#user-login-form .form-submit { margin: 6px; }
#user-login-form ul { text-align: left; }
#user-login-form ul li { margin-left: 0; }